.memberCardWrap__content {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding: 5px 20px 30px 20px;
    scroll-snap-type: x mandatory;
}

.card-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.myteamcard {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.myteamcard.show {
    opacity: 1;
    transform: translateY(0);
}

.myteamcard:hover {
    transform: scale(1.02);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.myteamcard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    text-align: center;
    padding: 14px 10px;
}

.card-content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.card-mbti {
    color: #fff;
    font-weight: 600;
    font-size: 0.8rem;
    display: inline;
    background-color: rgb(119, 52, 171);
    padding: 2px 6px;
    border-radius: 5rem;
}

.card-description {
    font-size: 14px;
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plsbt {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 300px;
    border: none;
    border-radius: 12px;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.6s ease, transform 0.3s ease;
    text-align: center;
}
.plsbt img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

.plsbt:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
