.modal {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    width: 80%;
    max-width: 700px;
    background: white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.close-btn {
    margin-left: auto;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;

    padding: 0;
}

.modal-tabs {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    margin-right: 50px;
    margin-bottom: 20px;
}

.modal-tab {
    background: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

.modal-tab.active {
    background: #333;
    color: white;
}

.modal-main-profile {
    display: flex;
    flex-flow: row;
    gap: 20px;
}

.modal-image-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 5px;

    font-weight: 600;
}

.modal-image-container > a:hover {
    color: inherit;
    background-color: #9dec7e;
}

.modal-info-container > .modal-info-item {
    display: flex;
    align-items: center;

    gap: 10px;
    font-size: 1.2rem;
    font-weight: 700;

    margin-bottom: 4px;
}

.modal-info-container > .modal-info-item > p:last-child {
    font-size: 1rem;

    background-color: #7734ab;
    padding: 1px 7px;
    border-radius: 3rem;
    color: #fff;
}

.modal-tab-content {
    margin-top: 14px;

    display: flex;
    flex-flow: column nowrap;
    gap: 7px;
}

.modal-image {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.modal-tab-content {
    display: none;
}

.modal-tab-content.active {
    display: flex !important;
}

.modalWrap-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 7px;
}
