<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body>
    <div class="card-container" id="cardlist">
        <button id="plsbtn" type="button" class="plsbt"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDMCyyoX0vaRyKKoMOpIYS0LA94ZYOKGJmHvd_8g-KJIbLX1XVImG79MgC04rNNm46jJk&usqp=CAU"
                alt="이미지"></button>

    </div>

    <div class="popup-overlay" id="popup">
        <div class="popup-content">
            <div id="popup_content">
                <button class="close-btn" id="clbtn">닫기</button>
            </div>
        </div>
    </div>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js";
        import { getFirestore, collection, getDocs } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-firestore.js";

        const firebaseConfig = {
            apiKey: "AIzaSyCGqR4KmttjxTiDXOgnAlq_zK85FfceU_4",
            authDomain: "sparta-1aa54.firebaseapp.com",
            projectId: "sparta-1aa54",
            storageBucket: "sparta-1aa54.appspot.com",
            messagingSenderId: "210610766907",
            appId: "1:210610766907:web:f3553a0bb7e166be9c081e",
            measurementId: "G-8ETLMBCMF2"
        };
        const app = initializeApp(firebaseConfig);
        const db = getFirestore(app);

        async function loadCards() {
            const cardContainer = document.getElementById('cardlist');

            const docs = await getDocs(collection(db, 'members'));
            const totalCards = docs.size;

            let loadedImages = 0;

            if (totalCards === 0) {
                document.getElementById('plsbtn').classList.add('show');
            } else {
                const observer = new IntersectionObserver((entries) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            const img = entry.target;
                            img.src = img.dataset.src;
                            observer.unobserve(img);
                        }
                    });
                });

                docs.forEach((doc) => {
                    const data = doc.data();
                    const tempHtml = `
<div class="myteamcard">
    <img data-src="${data.imageUrl}" alt="이미지">
    <div class="card-content">
        <div class="card-content-title">
            <h3 class="card-title">${data.name}</h3>
            <p class="card-mbti">${data.mbti}</p>
        </div>
       <p class="card-description">${data.introduction}</p>
    </div>
</div>`;
                    const cardElement = $(tempHtml).insertBefore('#plsbtn');


                    observer.observe(cardElement.find('img')[0]); // Apply lazy loading

                    cardElement.find('img').on('load', function () {
                        loadedImages++;
                        cardElement.addClass('show');
                        if (loadedImages === totalCards) {
                            $('#plsbtn').addClass('show');
                        }
                    });


                    cardElement.click(function () {
                        // $('#popup-name').text(name);  // 클릭한 카드의 이름을 팝업에 설정

                        const tempPop = `
                    <div id="removePop">
                        <div class="row">
                            <div id="imgsbox" class="col-3">
                                <div class="imgcard">
                                    <img id="memberImg" src="${data.imageUrl}" class="card-img-top" alt="...">
                                    <div>
                                        <div class="row">

                                            <!--블로그버튼-->
                                            <button id="blBtn" type="button" class="col btn btn-outline-success">
                                                <a href="${data.blogLink}" target="_blank" rel="noopener noreferrer">
                                                    <img id="link_img"
                                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTq_V5ImHw0BTMnCJ4GSqBsDdD-bxLsyuCh4Q5V7XX2aiVuxCbTG6RT2151CA1-G6XaE7k&usqp=CAU"
                                                        class="card-img-top" alt="...">
                                                </a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col"></div>
                            <div id="infobox" class="col-8">
                                <div id="infoup" class="row">
                                    <div id="info1" class="col-3">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">이름</th>
                                                    <th scope="col">${data.name}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">MBTI</th>
                                                    <td>${data.mbti}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">취미</th>
                                                    <td>${data.hobby}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="info2" class="col-5">
                                        <ul class=" list-group">
                                            <p>${data.introduction}</p>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        button onclick='reviseBtn()' id="reviseBtn" type="button"
                                            class="btn btn-outline-secondary">수정</button>
                                        <button onclick='deleteBtn()' id="deleteBtn" type="button"
                                            class="btn btn-outline-secondary">삭제</button>
                                    </div>
                                </div>
                                <div id="infodown" class="row">
                                    <div id="info3" class="col-8">
                                        <ul class=" list-group">
                                            <p id="strengths" style="display: none;">${data.strengths}</p>
                                            <p id="collaborationStyle" style="display: none;">${data.collaborationStyle}</p>
                                            <p id="resolution" style="display: none;">${data.resolution}</p>
                                        </ul>
                                    </div>
                                    <div class="col-2">
                                        <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
                                            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off"
                                                checked>
                                            <label onclick="strengthsBtn()" class="btn btn-outline-danger" for="vbtn-radio1">장점</label>
                                            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off">
                                            <label onclick="resolutionBtn()" class="btn btn-outline-danger" for="vbtn-radio2">각오</label>
                                            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3" autocomplete="off">
                                            <label onclick="collaborationStyleBtn()" class="btn btn-outline-danger"
                                                for="vbtn-radio3">협업스타일</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`


                        // 전역 변수로 PopCardElement 선언
                        const PopCardElement = $(tempPop).insertBefore('#popup_content');


                        $('#popup').css('display', 'flex');  // 팝업 열기
                        $("#strengths").show();
                        // $("#collaborationStyle").hide();
                        // $("#resolution").hide();
                        console.log('팝업 열림');
                    })



                    cardElement.find('img').on('load', function () {
                        loadedImages++;
                        cardElement.addClass('show');

                        if (loadedImages === totalCards) {
                            $('#plsbtn').addClass('show');
                        }
                    });
                });
            }
        }

        loadCards();

        window.reviseBtn = function () {
            // 원하는 기능
            console.log(`${name}`)
        };


        window.deleteBtn = function () {
            // 원하는 기능
            console.log('삭제키 작동')
        };


        // 장점
        window.strengthsBtn = function () {
            // 원하는 기능
            $("#strengths").show();
            $("#collaborationStyle").hide();
            $("#resolution").hide();
        };

        // 협업 스타일
        window.collaborationStyleBtn = function () {
            $("#strengths").hide();
            $("#collaborationStyle").show();
            $("#resolution").hide();
        };

        // 각오
        window.resolutionBtn = function () {

            $("#strengths").hide();
            $("#collaborationStyle").hide();
            $("#resolution").show();
        };


        // 팝업 닫기 버튼 클릭 시 팝업을 닫습니다.        
        $("#clbtn").click(function () {
            document.getElementById("removePop").remove();
            $("#popup").css("display", "none");
            console.log(' $("#popup").css("display", "none");')
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#plsbtn").click(function () {
                window.location.href = 'addcard.html';
            });
        });
    </script>

</body>

</html>