// guestbook 스타일 설정
//
//
---
---


ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.big_box {
  padding: 0px 20px 30px 20px;
  margin: 5% 0px 5% 0px;

  border: 1px solid #2d7acc;
  border-radius: 5px;
}

.main_box {
  height: 250px;
  margin: auto;
  padding: 5px;

  display: flex;
  justify-content: center;

  border-bottom: 2px solid gray;
}

.sub_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
}

.sub_box2 {
  margin-left: auto;
  margin-right: 5%;
}

.text_box {
  width: 85vw;
  height: 200px;
  margin: 10px 0px 0px 0px;
  resize: none;

  border: 1px solid gray;
  border-radius: 3px;
  background-color: whitesmoke;

  font-size: large;
}

.text_box:focus {
  outline: 2px solid #2d7acc;
}

.name_box {
  width: 70px;
  height: 30px;
  margin: 10px 0px 0px 0px;
  resize: none;

  border: 1px solid gray;
  border-radius: 10px;
  background-color: whitesmoke;

  font-size: large;
  text-align: center;
}

.name_box:focus {
  outline: 2px solid #2d7acc;
  text-align: start;
}

.btn1 {
  width: 60px;
  height: 30px;

  border: 1px solid gray;
  background-color: #2d7acc;
  border-radius: 3px;
  color: aliceblue;
  font-size: large;
}

.btn1:hover {
  background-color: #073669;
  transition: 0.7s;
}

.btn1:active {
  background-color: #88d633;
  transition: 0.01s;
}

[name="delete"] {
  border: 1px solid gray;
  background-color: #eb553b;
  border-radius: 3px;
  color: aliceblue;
  font-size: large;
}
