.allcard {
     width: 1400px;
     display: flex;
     justify-content: center;
     margin: 30px auto 0px auto;

 }

 .myteamcard {
     height: auto;
     width: auto;
     padding: 15px;
     border: 1px solid black;
     border-radius: 5px;
     background-color: whitesmoke;
     margin: 24px 10px 0px 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .myteamcard:hover {
     background-color: rgba(0, 0, 0, 0.1);
     cursor: pointer;
 }

 .card {
     flex-direction: row;
     background-color: transparent;
     border: 1px solid transparent;
 }

 /*faceimge 랑 cardtext를 묶는 거.*/

 .faceimge {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     border: 1px solid black;
     width: 175px;
     height: 225px;
     border-radius: 5px;
 }

 /*사진임*/

 .cardtext {
     margin: 0px 0px 0px 20px;
     padding: 15px;
     border: 1px solid black;
     border-radius: 5px;
     text-align: center;
     background-color: white;
 }

 /*이름,mbti등*/

 .cardtext2 {
     margin-top: 20px;
     padding: 15px;
     border: 1px solid black;
     border-radius: 5px;
     width: 287px;
     background-color: white;
 }

 /*장점등*/


 .blog-link {
     display: flex;
     justify-content: center;
     text-decoration: none;
     color: black;
     font-weight: bold;
 }


 .plsbt {
     height: 500px;
     width: 320px;
     border-radius: 5px;
 }

 .plsbt:hover {
     background-color: rgba(0, 0, 0, 0.1);
     /* 약간 어두워짐 */
     cursor: pointer;
 }

 .postingbtng {
     height: 500px;
     width: 330px;
 }

 /*위에 버튼 공간 잡는거 없으면 찌그러짐*/

 /*이 밑은 카드 누르면 나오는 팝업창이므로 바꾸기.*/
 .popup-overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     display: none;
     justify-content: center;
     align-items: center;
 }

 .popup-content {
     width: 300px;
     padding: 20px;
     background-color: white;
     border-radius: 8px;
     text-align: center;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }

 .close-btn {
     margin-top: 20px;
     padding: 8px 16px;
     background-color: blue;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }
